<!DOCTYPE html>
<html>
  <head>
    <title>Calcinator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="max-width: 500px;">
      <h1>Calcinator &#128540</h1>
      <div style="height: 10px"></div>
      <p>
        All fields are in the format: <br>
        Variables (units) [usual range]
      </p>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
          <div class="form-group">
            <label>{{ form.hemoglobin.label }} (g/dL) [4-20]:</label>
              {{ form.hemoglobin(class='form-control') }}
          </div>
          <div class="form-group">
            <label>{{ form.neutrophil.label }} (x10<sup>9</sup>/L) [0-15]:</label>
            {{ form.neutrophil(class='form-control') }}  
          </div>
          <div class="form-group">
            <label>{{ form.platelet.label }} (x10<sup>9</sup>/L) [0-2000]:</label>
            {{ form.platelet(class='form-control') }}  
          </div>
          <div class="form-group">
            <label>{{ form.bone_marrow_blast.label }} (percent) [0-30]:</label>
            {{ form.bone_marrow_blast(class='form-control') }}  
          </div>
          <div class="form-group">
            <label>{{ form.cytogenic_category.label }}</label>
            {% for subfield in form.cytogenic_category %}
            <div class="form-check">
              {{ subfield(class='form-check-input') }}
              {{ subfield.label(class='form-check-label')}}
            </div>
            {% endfor %}
          </div>
          {{ form.submit(class='btn btn-primary') }} &#128072
      </form>
      <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if error != None %}
          {{ error }}
        {% endif %}
    </div>
  </body>
</html>